main .container{
    padding: 20px 30px;
    min-height: 80vh;
}

.formulario_inicio{
    width: 200px !important;
}

  
  .banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  }